CREATE USER ${HIVE_DB_USER} WITH PASSWORD '${HIVE_DB_PASSWORD}';
CREATE DATABASE ${HIVE_DB_NAME} OWNER ${HIVE_DB_USER};
GRANT ALL PRIVILEGES ON DATABASE ${HIVE_DB_NAME} TO ${HIVE_DB_USER};

CREATE USER ${AIRFLOW_DB_USERNAME} WITH PASSWORD '${AIRFLOW_DB_PASSWORD}';
CREATE DATABASE ${AIRFLOW_DB_NAME} OWNER ${AIRFLOW_DB_USERNAME};
GRANT ALL PRIVILEGES ON DATABASE ${AIRFLOW_DB_NAME} TO ${AIRFLOW_DB_USERNAME};