source_up

source ../venv/spark_jobs/bin/activate

if ! python -c "import shared_lib" >/dev/null 2>&1; then
  pip install -e ../shared_lib
fi

if [ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]; then
  source "$HOME/.sdkman/bin/sdkman-init.sh"
fi
sdk use java 17.0.17-tem